/* Wwird thing when shirnk down .flex-row-wrap gets wider */
/* because of image */

* {
    /* color: #2C2B30; */
    text-decoration: none; /* move */
    font-style: normal;

    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

/**********************************/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2C2B30;
}

h1, h2, h3, h4, p {
    margin-bottom: 20px;
}

h1 {
    font-size: calc(15px + 5vw);
    font-weight: 750;
}

h2 {
    font-size: calc(15px + 3vw);
    font-weight: 750;
}

h3 {
    font-size: 23px;
    font-weight: 550;
    letter-spacing: 1px;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

p {
    font-size: 20px;
    font-weight: 450;
}

hr {
    width: 80%;
    margin: auto;

    border-bottom: 2px solid #D6D6D6;
    border-top: 2px solid #2C2B30;
    border-radius: 3px;
}

img {
    /* display: block;
    width: 100%;
    height: auto; */
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;

    /* min-width: 300px;
    min-height: 300px; */
    min-width:300px;
    min-height: 300px;

    padding: 20px;
    flex-grow: 1;  

    /* visibility: hidden; */
}

/**********************************/

.container {
    /* background-color: lightcoral; */
    width: 80%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.uppercase {
    text-transform: uppercase;
}

.buttons {
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: tomato; */
}

.button {
    color: #2C2B30;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;

    min-width: 200px;
    /* min-height: 200px; */
    max-width: 200px;
    /* max-height: 400px; */
    /* width: 200px; */

    border: 2px solid #2C2B30;
    border-radius: 7px;

    text-align: center;
    /* padding: 40px 2px; */
    padding: 40px 20px;
    margin: 10px;

    flex-grow: 1; 
}

.flex-row-wrap, .flex-column {
    padding: 100px 0px;
    /* background-color: aquamarine; */
}

.flex-row-wrap {
    display: flex;
    flex-wrap: wrap;
}

.half {
    /* background-color: blue; */
    /* padding: 100px; */
    width: 50%;
    flex-grow: 1;  
}

.flex-column {
    /* display: block; */
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
}

/* .flex-center-wrap {
    width: 100%;
    /* need to fix */
    /* need to add to margin blovck */

    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */

    /* background-color: aquamarine; */
/* } */

.text-align {
    text-align: center;
}

/* .flex-start {
    display: flex;
    justify-content: flex-start;

    background-color: blue;
} */

/* .center {
    align-items: center;
} */

/**********************************/

.button:hover {
    color: #D6D6D6;
    background-color: #2C2B30;
}

/**********************************/

header {
    background-color: #2C2B30;
    width: 100%;
    padding: 20px 0px;
}

/* header .container { */
    /* padding: 20px 0px; */
    /* padding: 1.5vh 0vh;; */
    /* background-color: blue; */
    /* justify-content: space-between; */
    /* align-items: center; */
/* } */

#logo-container, #nav-links {
    display: flex;
}

header .container h1 {
    color: white;
    font-size: 36px;
    /* background-color: lightblue; */
}

nav {
    /* background-color: lightgreen;  */
    /* flex-wrap: wrap; */
}

#nav-links { /* TODO */
    list-style: none; 

    justify-content: center;
    flex-wrap: wrap;
}

.nav-link  { /* todo */
    color: #D6D6D6;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;

    margin: 20px;
}

/**********************************/

#intro {
    width: 100%;
    height: 110vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
       
    min-height: 700px;
    /* max-width: ; */

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/****************************************/

/* #team .container { */
    /* justify-content: center; */
    /* align-items: column; */
/* } */

/* #team .container #members{ */
    /* background-color: aqua;  */
    /* m,issing space between pic and when wher */
    /* padding: 100px 0px; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
/* } */

/* #members { */
    /* width: 100%; */
    /* background-color: rebeccapurple; */
/* } */


.tiles {
    width: 100%;
    /* need to fix */
    /* need to add to margin blovck */

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    /* background-color: aquamarine; */
}


.tile {
    color: #2C2B30;
    text-align: center;
    background-color: transparent;

    width: 250px;
    height: 350px;

    border: 2px solid #2C2B30;
    border-radius: 7px;

    padding: 20px 10px; /* change */
    margin: 10px;
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-pic {
    background-color: pink;
    width: 100%;
    border-radius: 100%;
    padding: 100px;
}

/************************************/

footer {
    /* font-size: 10px; */
    color: #D6D6D6;
    text-align: center;
    background-color: #2C2B30;

    padding: 20px 0px;

    justify-content: space-between;
    align-items: center;
}

footer p, footer a, address p {
    font-size: 16px;
    color: #D6D6D6; /* make black default and white font class*/
}