* {

    text-decoration: none; /* move */
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/***********************************************************************************************/


h1, h2, h3, h4, p {
    margin-bottom: 10px;
}

h1 {
    font-size: calc(10px + 4vw);
    font-weight: 800;
    color: white;
    text-align: left;
}

@media (max-width: 800px){
    h1{
        font-size: calc(20px + 5vw);
    }
}

@media (max-width: 600px){
    h1{
        font-size: calc(23px + 6vw);
    }
}

h2 {
    font-size: calc(15px + 3vw);
    font-weight: 750;
    color: #F69031;
}

@media (max-width: 800px){
    h2{
        font-size: calc(20px + 4vw);
    }
}

@media (max-width: 600px){
    h2{
        font-size: calc(23px + 4vw);
    }
}

h3 {
    font-weight: 550;
    letter-spacing: 1px;
    
    font-size: calc(3px + 1.5vw);
    color: #fff;
}

@media (max-width: 800px){
    h3{
        font-size: calc(8px + 2vw);
    }
}

@media (max-width: 600px){
    h3{
        font-size: calc(10px + 3vw);
    }
}

h4 {
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 1px;
}

p {
    font-size: calc(2px + 1.4vw);
    font-weight: 450;
    color: rgb(49, 49, 49);
    text-align: justify;
}

@media (max-width: 800px){
    p{
        font-size: calc(5px + 1.8vw);
    }
}

@media (max-width: 600px){
    p{
        font-size: calc(7px + 2.3vw);
    }
}

a { 
    font-size: calc(2px + 1.4vw);
    font-weight: 450;
}

@media (max-width: 800px){
    a{
        font-size: calc(5px + 1.8vw);
    }
}

@media (max-width: 600px){
    a{
        font-size: calc(7px + 2.3vw);
    }
}

b{
    color: black;
}


hr {
    width: 100%;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
}

.uppercase {
    text-transform: uppercase;
}

.parallax {
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;

    min-height: 40vw;

    background: linear-gradient( to right,rgba(1, 34, 93, 0.7) 0%,rgba(62, 89, 134, 0.4) 50%, rgba(92,153,238,.1) 80% ), url(../images/highway.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;

    width: 80%;

    border: 3px solid white;
    border-radius: 7px;

    text-align: center;
    padding: 20px 10px;

    color: white;
}

.button:hover {
    color: #2C2B30;
    background-color: white;
}
/***********************************************************************************************/

#intro {
    width: 100%;
    height: 110vh;    
    min-height: 60vw;

    background: url(../images/bogota_edited.jpg);
    background: linear-gradient( to right,rgba(1, 34, 93, 0.8) 0%,rgba(1, 34, 93, 0.4) 50%, rgba(92,153,238,.1) 80% ), url(../images/bogota_edited.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

}

@media (max-width: 900px){
    #intro {
        background-position: right;
    }
}

@media (max-width: 600px){
    #intro {
        background-position: 80%;
    }
}



#intro .logo{
    margin-left: 3%;
    margin-top: 100px;
    width: 50%;
}

@media (max-width: 800px){
    #intro .logo{
        width: 70%;
    }
}


@media (max-width: 600px){
    #intro .logo{
        width: 90%;
    }
}

#intro section {
    width: 40%;
    margin-left: 5%;
}

@media (max-width: 800px){
    #intro section{
        width: 60%;
    }
}

@media (max-width: 600px){
    #intro section{
        width: 80%;
    }
}

#intro p {
    color: #fff;
}



/***********************************************************************************************/

.overviews {
    background-color: white;
    flex-direction: column;
}

.overviews div {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.overviews section{
    width: 50%;
}

@media (max-width: 800px){
    .overviews section{
        width: 90%
    }

    .overviews img{
        display: none;
    }
}



.overviews img{
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
}
/***********************************************************************************************/
#infosession {
    align-items: flex-start;
}
#infosession section {
    width: 30%;
    margin-left: 5%;
}

@media (max-width: 800px){
    #infosession section{
        width: 50%;
    }
}

@media (max-width: 600px){
    #infosession section{
        width: 70%;
    }
}

#infosession p {
    color: #fff;
}

#infosession .buttons{
    margin-top: 20px;
}

#infosession .button{
    align-items: flex-start;
}



/***********************************************************************************************/
#about {
    background-color: white;
    flex-direction: column;
}

.aboutus {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.aboutus a{
    text-decoration: none;
    color: #0051ff;
}

.aboutus a:hover{
    color: #3978ff;
}

#team{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 70px;
    padding-bottom: 70px;
}

.tiles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.tile {
    color: #2C2B30;
    text-align: center;
    background-color: transparent;

    width:  250px;
    height: 350px;

    
    border: 2px solid #D6D6D6;
    border-radius: 7px;

    margin: 20px;
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-pic {
    width: 86%;
    border-radius: 100%;
}

@media (min-width: 1700px){
    .tile p{
        font-size: 25px;
    }
}

/***********************************************************************************************/

footer {
    text-align: center;

    padding: 20px 0px;

    justify-content: space-between;
    align-items: center;
}

footer p {
    padding-top: 30px;
    margin-left: 5%;
    font-size: 16px;
}
